* {
  margin: 0 auto;
  box-sizing: border-box;
}

.conteiner {
  width: 1440px;
  height: 4484px;
  background-image: url(./img/6.jpg);
  padding-bottom: 0px;
}

#header {
  width: 1440px;
  height: 300px;
  position: relative;
  background: #00ccff;
  opacity: 0.3;
  border: 1px solid #5c0150;
  margin-bottom: 0;
}

.header-logo {
  position: relative;
  width: 300px;
  height: 130px;
  background: #ff00cc;
  border: 1px solid #5c0150;
  margin-bottom: -50px;
  padding-top: 38px;
  z-index: 1;
}

.header-logo-content {
  width: 215px;
  height: 65px;
  background: #0aeb55;
  opacity: 0.9;
  border: 1px solid #5c0150;
}

.header-bar {
  position: absolute;
  top: 102px;
  left: 148px;
  width: 32px;
  height: 32px;
  background: #ff00cc;
  border: 1px solid #5c0150;
}

.header-content {
  width: 780px;
  height: 180px;
  padding: 20px;
  background: #0400ff;
  border: 1px solid #5c0150;
  z-index: 1;
}

.header-content-title {
  width: 740px;
  height: 140px;
  background: #0aeb55;
  border: 1px solid #5c0150;
  z-index: 1;
}

#description {
  position: relative;
  width: 1440px;
  height: 750px;
  background: #00ccff;
  opacity: 0.3;
  border: 1px solid #5c0150;
}

.description-text {
  position: absolute;
  top: 0px;
  left: 148px;
  width: 435px;
  height: 550px;
  background: #0400ff;
  border: 1px solid #5c0150;
  padding-top: 5px;
}

.description-text-item {
  width: 435px;
  height: 12px;
  background: #0aeb55;
  margin-bottom: 30px;
}

.description-text-title {
  width: 435px;
  height: 80px;
  background: #0aeb55;
  margin-bottom: 80px;
}

.description-text-content {
  width: 435px;
  height: 340px;
  background: #0aeb55;
  text-align: center;
}

.description-image-1 {
  position: absolute;
  top: 32px;
  right: 0px;
  width: 699px;
  height: 573px;
  background: #ff7b00;
  border: 15px solid #f77f7f;
  border-right: none;
}

.description-image-2 {
  position: absolute;
  top: 90px;
  right: 458px;
  width: 373px;
  height: 248px;
  background: #ff7b00;
  border: 15px solid #f77f7f;
}

.description-button {
  position: absolute;
  top: 590px;
  left: 140px;
  width: 200px;
  height: 45px;
  background-color: red;
  border: none;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#footer {
  width: 1440px;
  height: 650px;
  background: #00ccff;
  opacity: 0.3;
  border: 1px solid #5c0150;
}
