* {
  margin: 0 auto;
  box-sizing: border-box;
}

.conteiner {
  width: 1440px;
  height: 4484px;
  background-image: url(./img/6.jpg);
  padding-bottom: 0px;
}

.opacity {
  opacity: 0.3;
}

#header {
  width: 1440px;
  height: 300px;
  position: relative;
  background: #00ccff;
  /* opacity: 0.3; */
  border: 1px solid #5c0150;
  margin-bottom: 0;
}

.header-logo {
  position: relative;
  width: 300px;
  height: 130px;
  background: #ff00cc;
  border: 1px solid #5c0150;
  margin-bottom: -50px;
  padding-top: 38px;
  z-index: 1;
}

.header-logo-content {
  width: 215px;
  height: 65px;
  background: #0aeb55;
  opacity: 0.9;
  border: 1px solid #5c0150;
}

.header-bar {
  position: absolute;
  top: 102px;
  left: 148px;
  width: 32px;
  height: 32px;
  background: #ff00cc;
  border: 1px solid #5c0150;
}

.header-content {
  width: 780px;
  height: 180px;
  padding: 20px;
  background: #0400ff;
  border: 1px solid #5c0150;
  z-index: 1;
}

.header-content-title {
  width: 740px;
  height: 140px;
  background: #0aeb55;
  border: 1px solid #5c0150;
  z-index: 1;
}

#description {
  position: relative;
  width: 1440px;
  height: 750px;
  background: #00ccff;
  /* opacity: 0.3; */
  border: 1px solid #5c0150;
}

.description-text {
  position: absolute;
  top: 0px;
  left: 148px;
  width: 435px;
  height: 550px;
  background: #0400ff;
  border: 1px solid #5c0150;
  padding-top: 5px;
}

.description-text-item {
  width: 435px;
  height: 12px;
  background: #0aeb55;
  margin-bottom: 30px;
}

.description-text-title {
  width: 435px;
  height: 80px;
  background: #0aeb55;
  margin-bottom: 80px;
}

.description-text-content {
  width: 435px;
  height: 340px;
  background: #0aeb55;
  text-align: center;
}

.description-image-1 {
  position: absolute;
  top: 32px;
  right: 0px;
  width: 699px;
  height: 573px;
  background: #ff7b00;
  border: 15px solid #f77f7f;
  border-right: none;
}

.description-image-2 {
  position: absolute;
  top: 90px;
  right: 458px;
  width: 373px;
  height: 248px;
  background: #ff7b00;
  border: 15px solid #f77f7f;
}

.description-button {
  position: absolute;
  top: 590px;
  left: 140px;
  width: 200px;
  height: 45px;
  background-color: red;
  border: none;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#main {
  position: relative;
  width: 1440px;
  height: 1400px;
  background: #00ccff;
  /* opacity: 0.3; */
  border: 1px solid #5c0150;
}

.main-text {
  width: 845px;
  height: 1270px;
  background: #0400ff;
  border: 1px solid #5c0150;
  padding-top: 94px;
}

.main-text-item {
  width: 75px;
  height: 12px;
  background: #0aeb55;
  margin-bottom: 28px;
}

.main-text-title {
  width: 710px;
  height: 80px;
  background: #0aeb55;
  margin-bottom: 725px;
}

.main-text-content {
  width: 745px;
  height: 310px;
  background: #0aeb55;
  text-align: center;
}

.main-image-1 {
  position: absolute;
  top: 285px;
  left: 297.5px;
  width: 845px;
  height: 565px;
  background: #ff7b00;
  border: 15px solid #f77f7f;
  border-right: none;
}

.main-button {
  position: absolute;
  bottom: 55px;
  left: 340px;
  width: 200px;
  height: 45px;
  background-color: red;
  border: none;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#about {
  position: relative;
  width: 1440px;
  height: 1400px;
  background: #00ccff;
  /* opacity: 0.3; */
  border: 1px solid #5c0150;
}

.about-video {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 1440px;
  height: 540px;
  background: #9da5a7;
  border: 15px solid #e00808;
}

.about-video-button {
  position: absolute;
  bottom: 197px;
  left: 633px;
  width: 98px;
  height: 98px;
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.about-photo {
  position: absolute;
  top: 695px;
  left: 250px;
  width: 425px;
  height: 285px;
  background: #ff7b00;
  border: 15px solid #f77f7f;
}

.about-text {
  position: absolute;
  top: 695px;
  left: 700px;
  width: 435px;
  height: 285px;
  background: #0400ff;
  border: 1px solid #5c0150;
  padding-top: 43px;
}

.about-text-item {
  width: 370px;
  height: 12px;
  background: #0aeb55;
  margin-bottom: 29px;
}

.about-text-title {
  width: 380px;
  height: 80px;
  background: #0aeb55;
  margin-bottom: 80px;
}

.about-quote {
  position: absolute;
  top: 930px;
  left: 440px;
  width: 750px;
  height: 310px;
  background: #9f10ca;
  border: 15px solid #aa0b6d;
  padding: 45px;
}

.about-quote-text {
  width: 555px;
  height: 175px;
  background: #0aeb55;
}

.about-button {
  position: absolute;
  bottom: 133px;
  left: 738.5px;
  width: 200px;
  height: 45px;
  background-color: red;
  border: none;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
