* {
  margin: 0 auto;
  box-sizing: border-box;
}

.conteiner {
  width: 1440px;
  height: 4484px;
  background-image: url(./img/6.jpg);
  padding-bottom: 0px;
}

#header {
  width: 1440px;
  height: 300px;
  position: relative;
  background: #00ccff;
  opacity: 0.3;
  border: 1px solid #5c0150;
  margin-bottom: 0;
}

.header-logo {
  position: relative;
  width: 300px;
  height: 130px;
  background: #ff00cc;
  opacity: 0.9;
  border: 1px solid #5c0150;
  margin-bottom: -30px;
  padding-top: 40px;
  z-index: 1;
}

.header-logo-content {
  width: 215px;
  height: 50px;
  background: #0400ff;
  opacity: 0.9;
  border: 1px solid #5c0150;
}

.header-bar {
  position: absolute;
  top: 102px;
  left: 148px;
  width: 30px;
  height: 30px;
  background: #ff00cc;
  opacity: 0.9;
  border: 1px solid #5c0150;
}

.header-content {
  width: 750px;
  height: 140px;
  background: #0400ff;
  /* opacity: 0.9; */
  border: 1px solid #5c0150;
  z-index: 1;
}

#description {
  position: relative;
  width: 1440px;
  height: 650px;
  background: #00ccff;

  opacity: 0.3;
  border: 1px solid #5c0150;
}

.description-text {
  position: absolute;
  top: 0px;
  left: 148px;
  width: 435px;
  height: 550px;
  background: #0400ff;
  /* opacity: 0.5; */
  border: 1px solid #5c0150;
  padding-top: 5px;
}

.description-text-item {
  width: 435px;
  height: 12px;
  background: #0aeb55;
  margin-bottom: 30px;
}

.description-text-title {
  width: 435px;
  height: 80px;
  background: #0aeb55;
  margin-bottom: 80px;
}

.description-text-content {
  width: 435px;
  height: 340px;
  background: #0aeb55;
}

#footer {
  width: 1440px;
  height: 650px;
  background: #00ccff;

  opacity: 0.3;
  border: 1px solid #5c0150;
}
