* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 85%;
  min-height: 500px;
  background: #bbbbbb;
  padding: 5px 5px 0px 5px;
}

#header {
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  height: 150px;
}

.header-content {
  width: 100%;
  height: 100%;
  padding: 25px 1%;
  background: #05bae7;
}

.header-logo {
  width: 30%;
  height: 100px;
  background: #e7056f;
  float: left;
}

.header-info {
  width: 38%;
  height: 100px;
  background: #e7056f;
  margin-right: 1%;
  margin-left: 1%;
  float: left;
}

.header-basket {
  width: 30%;
  height: 100px;
  background: #e7056f;
  float: right;
}

#navigation {
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
  background: #05e776;
}

#main {
  width: 100%;
  height: 1000px;
  background: #dbdbd7;
  margin-bottom: 5px;
}

#footer {
  width: 100%;
  height: 150px;
  background: #05bae7;
}
